.font-site-14{
    font-size: 14px !important;
}

.portlet>.portlet-title>.tools {
    padding: 9px 0 8px !important;
}

.portlet>.portlet-title{
    min-height: 30px !important;
}

.portlet.box>.portlet-title>.caption {
    padding: 10px 0 9px !important;
}

.page-header .page-header-top .page-logo .logo-default{
    width: 100%;
    margin-top: 5px !important;
}

.dropzone-file-area {
    border: 2px dashed #028AF4;
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.portlet.box.default {
    border: 1px solid #f3f4f5 !important;
    border-top: 0;
}
.portlet.default, .portlet.box.default>.portlet-title, .portlet>.portlet-body.default {
    background-color: #f3f4f5 !important;
}

.portlet.box.default>.portlet-title>.tools>a.expand {
    background-image: url(../global/img/portlet-expand-icon.png);
}
.portlet.box.default>.portlet-title>.tools>a.collapse {
    background-image: url(../global/img/portlet-collapse-icon.png);
    width: 14px;
    visibility: visible;
}

/* snipper layout */

.spinnerLoad {
    -webkit-animation: spinner_anim 0.5s infinite steps(12);
    -webkit-transform-origin: 0.10em 0.9em;
    -ms-animation: spinner_anim 1s infinite steps(12);
    -ms-transform-origin: 0.10em 0.9em;
}
.tinySize {
    font-size: 10px;
}
.smallSize {
    font-size: 15px;
}
.mediumSize {
    font-size: 25px;
}
.largeSize {
    font-size: 40px;
}
.bar {
    position: absolute;
    width: .21em;
    height: .5em;
    background: #ff0000;
    -webkit-border-radius: .2em;
    -webkit-transform-origin: 0.1em 0.9em;
    -ms-border-radius: .2em;
    -ms-transform-origin: 0.1em 0.9em;
}
#stepOne {
    background: #ddd;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
#stepTwo {
    background: #ccc;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
}
#stepThree {
    background: #bbb;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}
#stepFour {
    background: #aaa;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#stepFive {
    background: #999;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
}
#stepSix {
    background: #888;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
}
#stepSeven {
    background: #777;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
#stepEight {
    background: #666;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
}
#stepNine {
    background: #555;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
}
#stepTen {
    background: #444;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}
#stepEleven {
    background: #333;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
}
#stepTvelve {
    background: #222;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
}
@-webkit-keyframes spinner_anim {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-ms-keyframes spinner_anim {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

spinner-loader{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute
}

.spinnerLoad{
    position: absolute;
    z-index: 999;
    right: 50%;
    left: 50%;
    top: 40%;
    bottom: 50%;
}