.font-site-14{
    font-size: 14px !important;
}

.portlet>.portlet-title>.tools {
    padding: 9px 0 8px !important;
}

.portlet>.portlet-title{
    min-height: 30px !important;
}

.portlet.box>.portlet-title>.caption {
    padding: 10px 0 9px !important;
}

.page-header .page-header-top .page-logo .logo-default{
    width: 100%;
    margin-top: 5px !important;
}

.dropzone-file-area {
    border: 2px dashed #028AF4;
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}