<div class="modal-header">
    <span class="pull-right" ng-click="vm.cancel()" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span>
    <h4 class="modal-title">
        <span ng-if="!vm.data.id">Tạo mới user</span>
        <span ng-if="vm.data.id">Sửa user</span>
    </h4>
</div>
<div class="modal-body" id="userCreateOrEditForm">
    <uib-tabset class="tab-container tabbable-line">
        <uib-tab heading="Thông tin người dùng">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Họ <span class="font-red">*</span></label>
                        <input class="form-control"
                        type="text"
                        name="surname"
                        ng-model="vm.data.surName" />
                        <check-validate datacheck="vm.data.surName"></check-validate> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên <span class="font-red">*</span></label>
                        <input class="form-control"
                        type="text"
                        name="name"
                        ng-model="vm.data.name" />
                        <check-validate datacheck="vm.data.name"></check-validate> 
                    </div>
                    <div class="form-group">
                        <label class="control-label">Đường dẫn ảnh</label>
                        <input class="form-control" type="text" name="imageSlug" id="imageSlug" ng-model="vm.data.imageSlug" />
                    </div>
                </div>
                <div class="col-md-4">
                    <form method="post" id="upload_image_form" enctype="multipart/form-data">

                        <div id="alertMessage" class="alert alert-warning mb-3" style="display: none">
                            <span id="alertMsg"></span>
                        </div>
            
                        <div class="d-grid text-center">
                           <img class="mb-3" id="ajaxImgUpload" alt="Preview Image" ng-if="vm.data.imageSlug == null || vm.data.imageSlug==''" style="width:100%" src="https://via.placeholder.com/200" />
                           <img class="mb-3" id="ajaxImgUpload" alt="Preview Image" ng-if="vm.data.imageSlug != null || vm.data.imageSlug!=''" style="width:100%" src="{{vm.data.imageSlug}}" />
                        </div>
            
                        <div class="mb-3">
                            <input type="file" name="userfile" multiple="true" id="finput" onchange="onFileUpload(this);"
                                class="form-control form-control-lg"  accept="image/*">
                            
                        </div>
            
                        <!-- <div class="d-grid">
                           <button type="submit" class="btn btn-danger uploadBtn">Upload</button>
                        </div> -->
                    </form>
                    <script>
                        function onFileUpload(input, id) {
                            id = id || '#ajaxImgUpload';
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                
                                reader.onload = function (e) {
                                    $(id).attr('src', e.target.result).width('width:100%')
                                };
                
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                        $(document).ready(function () {
                            $('#upload_image_form').submit(function(e){
                                e.preventDefault();
                                if ($('#finput').val() == '') {
                                    alert("Choose File");
                                    document.getElementById("upload_image_form").reset();
                                } else {
                                    $.ajax({
                                        url: ApiUrl+"/file/uploads",
                                        method: "POST",
                                        data: new FormData(this),
                                        processData: false,
                                        contentType: false,
                                        cache: false,
                                        dataType: "json",
                                        success: function (res) {
                                            console.log(res, 'sang');
                                            debugger;
                                            if (res.success == true) {
                                                $('#imageSlug').val(res.linkImage)
                                                $('#alertMsg').html(res.msg);
                                                $('#alertMessage').show();
                                            } else if (res.success == false) {
                                                $('#alertMsg').html(res.msg);
                                                $('#alertMessage').show();
                                            }
                                            setTimeout(function () {
                                                $('#alertMsg').html('');
                                                $('#alertMessage').hide();
                                            }, 4000);

                                            //$('.uploadBtn').html('Upload');
                                            //$('.uploadBtn').prop('Enabled');
                                            document.getElementById("upload_image_form").reset();
                                        }
                                    });
                                }
                            });

                            $("#finput").change(function() {
                                $(this).closest("form").submit();
                                
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Tên truy cập <span class="font-red">*</span></label>
                <input class="form-control"
                type="text"
                name="userName"
                ng-model="vm.data.userName" />
                <check-validate datacheck="vm.data.userName" namecheck="username"></check-validate>
            </div>
            <!-- <div class="form-group" >
                <label class="mt-checkbox mt-checkbox-outline" style="margin-bottom:0">
                    <input type="checkbox" ng-change="vm.clickEditPassWord()"> sửa mật khẩu
                    <span></span>
                </label>
            </div> -->
            <div class="form-group">
                <label class="control-label">Mật khẩu <span class="font-red" ng-if="!vm.data.id">*</span></label>
                <input class="form-control"
                type="text"
                name="passWord"
                ng-model="vm.data.passWord" ng-change="vm.editPassWord()"/>
                <check-validate ng-if="!vm.data.id" datacheck="vm.data.passWord" namecheck="password"></check-validate>
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu </label>
                <input class="form-control"
                type="text"
                name="passwordRepeat"
                ng-model="vm.data.passwordRepeat" ng-change="vm.editPassWord()"/>
                <check-validate ng-if="!vm.data.id" datacheck="vm.data.passwordRepeat" namecheck="password"></check-validate>
                <small ng-if="vm.ckeckPassword" class="help-block custom-error-validate" style="color: #e40909;">Mật khẩu và nhập lại mật khẩu không khớp</small>
            </div>
        </uib-tab>
        <uib-tab heading="Vai trò">
            <div id="tree_vaitro" class="tree-vaitro"> </div>
        </uib-tab>
    </uib-tabset>
    
    
</div>
<div class="modal-footer">
    <button type="button" class="btn green-meadow" ng-click="vm.save()"><i class="fa fa-save"></i> <span>Lưu</span></button>
    <button type="button" class="btn red" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i>Đóng</button>
</div>

