<div class="modal-header">
    <span class="pull-right" ng-click="vm.cancel()" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span>
    <h4 class="modal-title">
        <span ng-if="!vm.data.id">Tạo mới danh mục</span>
        <span ng-if="vm.data.id">Sửa danh mục</span>
    </h4>
</div>
<div class="modal-body" id="categoryCreateOrEditForm">
    <div class="form-group">
        <label class="control-label">Tiêu đề <span class="font-red">*</span></label>
        <input class="form-control" type="text"  name="title"  ng-model="vm.data.title" ng-change="vm.getLink()"/>
        <check-validate datacheck="vm.data.title"></check-validate>
    </div>
    <div class="form-group">
        <label class="control-label">Seo Alias <span class="font-red">*</span></label>
        <input class="form-control" type="text"  name="seoAlias"  ng-model="vm.data.seoAlias" />
        <check-validate datacheck="vm.data.seoAlias"></check-validate>
    </div>
    <div class="form-group">
        <label class="control-label">Danh mục cha</label>
        <input class="form-control" 
        kendo-drop-down-list
        type="text"  
        name="parentId"  
        k-options="vm.categoryOptions"
        ng-model="vm.data.parentId" />
    </div>
    <div class="form-group margin-top-15">
        <label class=" control-label">Thứ tự</label>
        <input class="form-control"
        type="text"
        name="Description"
        ng-model="vm.data.sortOrder"/>
       
    </div>
    <div class="form-group clearfix margin-top-15">
        <label for="">Note: Nếu không điền dữ liệu sẽ được sinh ra tự động</label>
    </div>
    <div class="form-group clearfix margin-top-15">
        <label class=" control-label">Trạng thái</label>
        <input ng-model="vm.data.isActive"
                type="checkbox">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn green-meadow" ng-click="vm.save()"><i class="fa fa-save"></i> <span>Lưu</span></button>
    <button type="button" class="btn red" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i>Đóng</button>
</div>